/* стандартные элементы

/* Ссылки
.link-style
  color: #e77817
  text-decoration: underline
  &:hover
    text-decoration: none

/* Заголовки
.title-style
  margin: 0px
  +font-family-2(bold)
  font-size: 20px
  line-height: 22px
  margin-bottom: 35px
  color: #333333
  a
    text-decoration: none
    &:hover
      text-decoration: underline
  &.center
    text-align: center
  &.white, &.white a
    color: #fff
a.title-style
  text-decoration: none
  &.white
    color: #fff
  &:hover
    text-decoration: underline
    color: lighten(#000, 10%)

/* Текст
.text-style
  font-family: Verdana, sans-serif
  font-size: 14px
  line-height: 18px
  color: #444444

/* хлебные крошки
.breadcrumbs
  font-family: Arial, sans-serif
  font-size: 12px
  color: #845d45
  +pie-clearfix
  list-style: none
  margin: 0px
  padding: 0px
  margin-bottom: 20px
  li
    float: left
    margin-left: 15px
    position: relative
    &:first-child
      margin-left: 0px
      padding-left: 0px
      &:before
        display: none
    &:before
      position: absolute
      top: 0px
      left: -10px
      height: 100%
      content: '»'
  a
    color: #845d45
    text-decoration: underline
    &:hover
      text-decoration: none

/* Поля форм
.form-row
  margin-bottom: 15px

.style-form-label
  +font-family-2
  color: #7f8c8c
  font-size: 15px

.style-form-text, .style-form-textarea
  width: 100%
  +font-family-2
  color: #7f8c8c
  font-size: 15px
  background: #fafafa
  border-radius: 3px
  border: none
  padding: 6px
  +box-shadow(inset 2px 2px 2px 0px rgba(237,237,237,1))

.style-form-textarea
  resize: none

/* Кнопки
.btn-style
  font-family: Calibri, sans-serif
  font-weight: bold
  color: #fff
  font-size: 14px
  background: #eb8817
  border-radius: 1px
  cursor: pointer
  +inline-block(top)
  padding: 5px 10px
  text-decoration: none
  &.volume
    +font-family-2('bold')
    +box-shadow(inset 0px 1px 2px 0px rgba(255, 255, 255, 0.24))
    +box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.50))
    +background-image(linear-gradient(top, #ed901d 0%, #e56f0d 100%))
  &:hover
    opacity: 0.9
.btn-cart-style
  position: relative
  font-family: Calibri, sans-serif
  color: #444444
  font-size: 14px
  padding: 8px
  padding-left: 43px
  background: #fff
  border: 1px solid #e7e7e7
  +inline-block(top)
  &:hover
    cursor: pointer
    opacity: 0.9
  &:before
    position: absolute
    content: ''
    top: 0px
    left: 0px
    width: 32px
    height: 100%
    border-right: 1px solid #e7e7e7
    background: image-url('app/ico-cart-orange-20x20.png') 50% 50% no-repeat


/* Пагинация
.pagination
  width: 100%
  list-style: none
  padding: 0px
  margin: 0px
  text-align: center
  margin-bottom: 20px
  > li
    margin: 0px 3px
    +inline-block(top)
    &.selected a, &:hover a, &.active a, &.selected:hover a, &.active:hover a
      background: #845d45
      background-color: #845d45
      color: #fff
      text-decoration: none
      border-color: transparent
    &.hidden, &.disabled
      display: none
    > a, > span
      display: block
      +font-family-2(bold)
      font-size: 12px
      line-height: 12px
      background: none
      color: #845d45
      padding: 8px 10px
      border: none
      border-radius: 3px
      border: 1px solid #845d45
      cursor: pointer
      margin: 0px
      font-weight: normal
    &:hover span
      background: none
      border: 1px solid #845d45
      color: #845d45
      cursor: default

/* Списки продукции
.product-list
  word-spacing:  18px
  *
    word-spacing: normal

.product-item
  position: relative
  padding: 15px
  padding-bottom: 50px
  width: 228px
  height: 367px
  border: 1px solid #e3e3e3
  +inline-block(top)
  .box-img
    display: block
    margin-bottom: 12px
    &:hover
      opacity: 0.9
  .name
    font-family: Calibri, sans-serif
    font-size: 18px
    max-height: 42px
    color: #010101
    line-height: 20px
    margin-bottom: 5px
    a
      text-decoration: none
      color: #010101
      &:hover
        text-decoration: underline
  .params
    font-family: Arial, sans-serif
    font-size: 12px
    line-height: 13px
    color: #444444
    text-transform: lowercase
    margin-bottom: 5px
  .price
    font-family: Calibri, sans-serif
    font-size: 18px
    color: #010101
    line-height: 20px
    margin-bottom: 8px
    .price-old
      color: #646464
      text-decoration: line-through
      margin-right: 5px
  .actions
    position: absolute
    bottom: 15px