@charset "UTF-8";
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

@font-face {
  font-family: "OpenSans-regular-wf";
  src: url("/fonts/opensans-regular.ttf");
}
@font-face {
  font-family: "OpenSans-bold-wf";
  src: url("/fonts/opensans-bold.ttf");
}
@font-face {
  font-family: "MyriadPro-regular-wf";
  src: url("/fonts/myriadpro-regular.eot");
  src: url("/fonts/myriadpro-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/myriadpro-regular.woff") format("woff"), url("/fonts/myriadpro-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -170px;
  width: 100%;
  background: #fff;
}

#footer {
  height: 170px;
}

#push {
  height: 190px;
}

.cf {
  *zoom: 1;
}
.cf:after {
  content: "";
  display: table;
  clear: both;
}

.ib {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

img {
  vertical-align: top;
  border: none;
}

input, textarea, button, select, a {
  outline: none;
}
input:focus, textarea:focus, button:focus, select:focus, a:focus {
  outline: none;
}

.inner-pages {
  padding-top: 30px;
}

/*Адаптивность на основе bootstrap */
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
.slider-hidden {
  visibility: hidden;
}

/* стандартные элементы */
/* Заголовки */
.title-style {
  margin: 0px;
  font-family: Calibri, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 35px;
  color: #000;
}
.title-style.center {
  text-align: center;
}
.title-style.in-box {
  padding: 25px;
  background: #fafafa;
}

a.title-style:hover {
  color: #1a1a1a;
}

/* Текст */
.text-style {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #3f4245;
}

/* хлебные крошки */
.breadcrumbs {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #845d45;
  *zoom: 1;
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}
.breadcrumbs:after {
  content: "";
  display: table;
  clear: both;
}
.breadcrumbs li {
  float: left;
  margin-left: 15px;
  position: relative;
}
.breadcrumbs li:first-child {
  margin-left: 0px;
  padding-left: 0px;
}
.breadcrumbs li:first-child:before {
  display: none;
}
.breadcrumbs li:before {
  position: absolute;
  top: 0px;
  left: -10px;
  height: 100%;
  content: "»";
}
.breadcrumbs a {
  color: #845d45;
  text-decoration: underline;
}
.breadcrumbs a:hover {
  text-decoration: none;
}

/* Поля форм */
.form-row {
  margin-bottom: 15px;
}

.style-form-label {
  font-family: "OpenSans-regular-wf";
  color: #7f8c8c;
  font-size: 15px;
}

.style-form-text, .style-form-textarea {
  width: 100%;
  font-family: "OpenSans-regular-wf";
  color: #7f8c8c;
  font-size: 15px;
  background: #fafafa;
  border-radius: 3px;
  border: none;
  padding: 6px;
  -moz-box-shadow: inset 2px 2px 2px 0px #ededed;
  -webkit-box-shadow: inset 2px 2px 2px 0px #ededed;
  box-shadow: inset 2px 2px 2px 0px #ededed;
}

.style-form-textarea {
  resize: none;
}

/* Кнопки */
.btn-style {
  font-family: Calibri, sans-serif;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  background: #845d45;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-decoration: none;
  padding: 10px 40px;
}
.btn-style:hover {
  text-decoration: none;
  background: #a57557;
}

/* Пагинация */
.pagination {
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
  margin-bottom: 20px;
}
.pagination > li {
  margin: 0px 3px;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.pagination > li.selected a, .pagination > li:hover a, .pagination > li.active a, .pagination > li.selected:hover a, .pagination > li.active:hover a {
  background: #845d45;
  background-color: #845d45;
  color: #fff;
  text-decoration: none;
  border-color: transparent;
}
.pagination > li.hidden, .pagination > li.disabled {
  display: none;
}
.pagination > li > a, .pagination > li > span {
  display: block;
  font-family: "OpenSans-bold-wf";
  font-size: 12px;
  line-height: 12px;
  background: none;
  color: #845d45;
  padding: 8px 10px;
  border: none;
  border-radius: 3px;
  border: 1px solid #845d45;
  cursor: pointer;
  margin: 0px;
  font-weight: normal;
}
.pagination > li:hover span {
  background: none;
  border: 1px solid #845d45;
  color: #845d45;
  cursor: default;
}

/* шапка */
.header .bottom {
  padding: 20px 0px;
}
.header .bottom .logo {
  float: left;
}
.header .bottom .logo img {
  max-width: 100%;
}
.header .bottom .header-contact {
  float: right;
  padding: 13px 0px;
}
.header .bottom .header-contact .phone {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 19px;
  color: #845d45;
  line-height: 27px;
  padding-left: 30px;
  background: url("/images/app/ico-phone-brown-27x27.png") 0px 50% no-repeat;
}

.header .bottom .soc-btns, #footer .soc-btns {
  margin-left: 55px;
}
.header .bottom .soc-btns a, #footer .soc-btns a {
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-left: 5px;
}
.header .bottom .soc-btns .fb-btn, #footer .soc-btns .fb-btn {
  background: url("/images/app/ico-fb-brown-sprite-27x27.png") 0px 0px no-repeat;
}
.header .bottom .soc-btns .fb-btn:hover, #footer .soc-btns .fb-btn:hover {
  background: url("/images/app/ico-fb-brown-sprite-27x27.png") -27px 0px no-repeat;
}
.header .bottom .soc-btns .skype-btn, #footer .soc-btns .skype-btn {
  background: url("/images/app/ico-skype-brown-sprite-27x27.png") 0px 0px no-repeat;
}
.header .bottom .soc-btns .skype-btn:hover, #footer .soc-btns .skype-btn:hover {
  background: url("/images/app/ico-skype-brown-sprite-27x27.png") -27px 0px no-repeat;
}
.header .bottom .soc-btns .gplus-btn, #footer .soc-btns .gplus-btn {
  background: url("/images/app/ico-gplus-brown-sprite-27x27.png") 0px 0px no-repeat;
}
.header .bottom .soc-btns .gplus-btn:hover, #footer .soc-btns .gplus-btn:hover {
  background: url("/images/app/ico-gplus-brown-sprite-27x27.png") -27px 0px no-repeat;
}

/* подвал */
#footer {
  font-family: Verdana, sans-serif;
  border-top: 1px solid #d4d4d4;
  padding-top: 25px;
}
#footer .copy {
  color: #845d45;
  font-size: 13px;
}
#footer .footer-menu {
  margin-bottom: 20px;
}
#footer .footer-menu ul {
  word-spacing: 20px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#footer .footer-menu ul * {
  word-spacing: normal;
}
#footer .footer-menu li {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
#footer .footer-menu a {
  color: #845d45;
  font-size: 13px;
  text-decoration: underline;
}
#footer .footer-menu a.active, #footer .footer-menu a:hover {
  text-decoration: none;
}
#footer .soc-btns {
  margin-left: 0px !important;
}
#footer .dev {
  line-height: 15px;
}
#footer .dev span {
  text-transform: lowercase;
}
#footer .dev img {
  vertical-align: middle;
}
#footer .dev a {
  color: #000;
  text-transform: uppercase;
  text-decoration: underline;
}
#footer .dev a:hover {
  text-decoration: none;
}
