@charset "UTF-8";
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 14px;
}

@font-face {
  font-family: "OpenSans-ExtraBold-wf";
  src: url("/fonts/opensans-extrabold.ttf");
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -170px;
  width: 100%;
  background: #fff;
}

#footer {
  height: 170px;
}

#push {
  height: 190px;
}

.cf {
  *zoom: 1;
}
.cf:after {
  content: "";
  display: table;
  clear: both;
}

.ib {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

img {
  vertical-align: top;
  border: none;
}

input, textarea, button, select, a {
  outline: none;
}
input:focus, textarea:focus, button:focus, select:focus, a:focus {
  outline: none;
}

.inner-pages {
  padding-top: 30px;
}

.site-content {
  width: 980px;
  margin: auto;
  *zoom: 1;
}
.site-content:after {
  content: "";
  display: table;
  clear: both;
}

.slider-hidden {
  visibility: hidden;
}

/* стандартные элементы */
/* Ссылки */
.link-style {
  color: #e77817;
  text-decoration: underline;
}
.link-style:hover {
  text-decoration: none;
}

/* Заголовки */
.title-style {
  margin: 0px;
  font-family: Calibri, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 35px;
  color: #000;
}
.title-style.center {
  text-align: center;
}
.title-style.in-box {
  padding: 25px;
  background: #fafafa;
}

a.title-style:hover {
  color: #1a1a1a;
}

/* Текст */
.text-style {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #3f4245;
}

/* хлебные крошки */
.breadcrumbs {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #845d45;
  *zoom: 1;
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}
.breadcrumbs:after {
  content: "";
  display: table;
  clear: both;
}
.breadcrumbs li {
  float: left;
  margin-left: 15px;
  position: relative;
}
.breadcrumbs li:first-child {
  margin-left: 0px;
  padding-left: 0px;
}
.breadcrumbs li:first-child:before {
  display: none;
}
.breadcrumbs li:before {
  position: absolute;
  top: 0px;
  left: -10px;
  height: 100%;
  content: "»";
}
.breadcrumbs a {
  color: #845d45;
  text-decoration: underline;
}
.breadcrumbs a:hover {
  text-decoration: none;
}

/* Поля форм */
.form-row {
  margin-bottom: 15px;
}

.style-form-label {
  font-family: "OpenSans-regular-wf";
  color: #7f8c8c;
  font-size: 15px;
}

.style-form-text, .style-form-textarea {
  width: 100%;
  font-family: "OpenSans-regular-wf";
  color: #7f8c8c;
  font-size: 15px;
  background: #fafafa;
  border-radius: 3px;
  border: none;
  padding: 6px;
  -moz-box-shadow: inset 2px 2px 2px 0px #ededed;
  -webkit-box-shadow: inset 2px 2px 2px 0px #ededed;
  box-shadow: inset 2px 2px 2px 0px #ededed;
}

.style-form-textarea {
  resize: none;
}

/* Кнопки */
.btn-style {
  font-family: Calibri, sans-serif;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  background: #845d45;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-decoration: none;
  padding: 10px 40px;
}
.btn-style:hover {
  text-decoration: none;
  background: #a57557;
}

/* Пагинация */
.pagination {
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
  margin-bottom: 20px;
}
.pagination > li {
  margin: 0px 3px;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.pagination > li.selected a, .pagination > li:hover a, .pagination > li.active a, .pagination > li.selected:hover a, .pagination > li.active:hover a {
  background: #845d45;
  background-color: #845d45;
  color: #fff;
  text-decoration: none;
  border-color: transparent;
}
.pagination > li.hidden, .pagination > li.disabled {
  display: none;
}
.pagination > li > a, .pagination > li > span {
  display: block;
  font-family: "OpenSans-bold-wf";
  font-size: 12px;
  line-height: 12px;
  background: none;
  color: #845d45;
  padding: 8px 10px;
  border: none;
  border-radius: 3px;
  border: 1px solid #845d45;
  cursor: pointer;
  margin: 0px;
  font-weight: normal;
}
.pagination > li:hover span {
  background: none;
  border: 1px solid #845d45;
  color: #845d45;
  cursor: default;
}

/* шапка */
#header {
  padding-top: 10px;
}
#header .logo, #header .header-contacts, #header .cart-flash {
  float: left;
}
#header #search {
  float: right;
}
#header .logo {
  text-decoration: none;
}
#header .logo:hover {
  opacity: 0.9;
}
#header .logo img {
  margin-bottom: 5px;
}
#header .logo span {
  display: block;
  color: #060606;
  font-family: Verdana, sans-serif;
  font-style: italic;
  font-size: 12px;
  text-decoration: none;
  text-transform: lowercase;
}

.header-contacts {
  font-family: Arial;
  margin-top: 5px;
  margin-left: 70px;
}
.header-contacts .phone {
  font-size: 22px;
  font-weight: bold;
  color: #444444;
}
.header-contacts .wrap-callback {
  font-size: 12px;
  line-height: 25px;
  padding-right: 25px;
  background: url('/catalog/view/theme/default/image/app/ico-phone-orange-21x21.png?1427787060') 100% 50% no-repeat;
}
.header-contacts .wrap-callback span {
  margin-right: 5px;
}

.cart-flash {
  padding-left: 32px;
  line-height: 25px;
  margin-top: 18px;
  margin-left: 60px;
  background: url('/catalog/view/theme/default/image/app/ico-cart-orange-23x23.png?1427790207') 0px 50% no-repeat;
}

#search {
  margin-top: 11px;
}
#search .form-search-style {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #444444;
  width: 150px;
  padding: 12px;
  padding-right: 35px;
  border-radius: 20px;
  border: 1px solid #e8e8e8;
  -moz-box-shadow: inset 1px 1px 2px 0px #e8e8e8;
  -webkit-box-shadow: inset 1px 1px 2px 0px #e8e8e8;
  box-shadow: inset 1px 1px 2px 0px #e8e8e8;
}
#search .form-search-style::-webkit-input-placeholder {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #444444;
}
#search .form-search-style:-moz-placeholder {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #444444;
}
#search .form-search-style:-ms-input-placeholder {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #444444;
}
#search .form-search-style.placeholder {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #444444;
}
#search .button-search {
  width: 41px;
  height: 41px;
  display: inline-block;
  vertical-align: middle;
  margin-left: -47px;
  background: url('/catalog/view/theme/default/image/app/ico-loupe-gray-12x13.png?1427790843') 50% 50% no-repeat;
}
#search .button-search:hover {
  cursor: pointer;
  opacity: 0.9;
}

/* слайдер */
.box-slider .slide {
  width: 100%;
}

/* подвал */
#footer {
  font-family: Verdana, sans-serif;
  border-top: 1px solid #d4d4d4;
  padding-top: 25px;
}
#footer .copy {
  color: #845d45;
  font-size: 13px;
}
#footer .footer-menu {
  margin-bottom: 20px;
}
#footer .footer-menu ul {
  word-spacing: 20px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#footer .footer-menu ul * {
  word-spacing: normal;
}
#footer .footer-menu li {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
#footer .footer-menu a {
  color: #845d45;
  font-size: 13px;
  text-decoration: underline;
}
#footer .footer-menu a.active, #footer .footer-menu a:hover {
  text-decoration: none;
}
#footer .soc-btns {
  margin-left: 0px !important;
}
#footer .dev {
  line-height: 15px;
}
#footer .dev span {
  text-transform: lowercase;
}
#footer .dev img {
  vertical-align: middle;
}
#footer .dev a {
  color: #000;
  text-transform: uppercase;
  text-decoration: underline;
}
#footer .dev a:hover {
  text-decoration: none;
}
