@charset "UTF-8";
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 14px;
}

@font-face {
  font-family: "OpenSans-extrabold-wf";
  src: url("/fonts/opensans-extrabold.ttf");
}
@font-face {
  font-family: "OpenSans-bold-wf";
  src: url("/fonts/opensans-bold.ttf");
}
@font-face {
  font-family: "OpenSans-regular-wf";
  src: url("/fonts/opensans-regular.ttf");
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -170px;
  width: 100%;
  background: #fff;
}

#footer {
  height: 170px;
}

#push {
  height: 170px;
}

.cf {
  *zoom: 1;
}
.cf:after {
  content: "";
  display: table;
  clear: both;
}

.ib {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

img {
  vertical-align: top;
  border: none;
}

input, textarea, button, select, a {
  outline: none;
}
input:focus, textarea:focus, button:focus, select:focus, a:focus {
  outline: none;
}

.inner-pages {
  padding: 30px 0px;
}

.site-content {
  width: 980px;
  min-width: 980px;
  margin: auto;
  *zoom: 1;
}
.site-content:after {
  content: "";
  display: table;
  clear: both;
}

.slider-hidden {
  visibility: hidden;
}

#column-left {
  float: left;
  width: 230px;
}

#column-right {
  float: right;
  width: 230px;
}

#column-left + #column-right + #content, #column-left + #content {
  margin-left: 250px;
}

#column-right + #content {
  margin-right: 250px;
}

#column-left + #column-right + #content.catalog-content, #column-left + #content.catalog-content {
  margin-right: 0px;
  margin-left: 0px;
  float: right;
  width: 730px;
}

#column-right + #content.catalog-content {
  margin-right: 0px;
  margin-left: 0px;
  float: left;
  width: 730px;
}

/* стандартные элементы */
/* Ссылки */
.link-style {
  color: #e77817;
  text-decoration: underline;
}
.link-style:hover {
  text-decoration: none;
}

/* Заголовки */
.title-style {
  margin: 0px;
  font-family: "OpenSans-bold-wf";
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 35px;
  color: #333333;
}
.title-style a {
  text-decoration: none;
}
.title-style a:hover {
  text-decoration: underline;
}
.title-style.center {
  text-align: center;
}
.title-style.white, .title-style.white a {
  color: #fff;
}
.title-style.border-bottom {
  padding-bottom: 10px;
  border-bottom: 1px solid #e3e3e3;
}

a.title-style {
  text-decoration: none;
}
a.title-style.white {
  color: #fff;
}
a.title-style:hover {
  text-decoration: underline;
  color: #1a1a1a;
}

/* Текст */
.text-style {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

/* хлебные крошки */
.breadcrumb {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #8b8a8a;
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}
.breadcrumb li {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 13px;
  position: relative;
}
.breadcrumb li:first-child {
  margin-left: 0px;
  padding-left: 0px;
}
.breadcrumb li:first-child:before {
  display: none;
}
.breadcrumb li:before {
  position: absolute;
  top: 0px;
  left: -10px;
  height: 100%;
  content: "»";
}
.breadcrumb a {
  color: #8b8a8a;
  text-decoration: underline;
}
.breadcrumb a:hover {
  text-decoration: none;
}

/* Поля форм */
.form-row {
  margin-bottom: 10px;
}

.style-form-label, .simple-content label {
  font-family: "OpenSans-regular-wf";
  color: #333333;
  font-size: 14px;
}
.style-form-label:hover, .simple-content label:hover {
  cursor: pointer;
}

.style-form-text, .style-form-textarea, .simple-content input[type='text'], .simple-content textarea {
  width: 100%;
  font-family: Arial, sans-serif;
  color: #5E5E5E;
  padding: 5px;
  border: 2px solid #eaeaea;
}

.style-form-textarea, .simple-content textarea {
  resize: none;
}

.style-form-select, .simple-content select {
  width: 100%;
  font-family: Arial, sans-serif;
  color: #5E5E5E;
  padding: 5px;
  border: 2px solid #eaeaea;
}
.style-form-select:hover, .simple-content select:hover {
  cursor: pointer;
}

.ocjoyajaxcheckout_errorfields, .style-error {
  font-size: 11px;
  color: #f25727;
}

/* Кнопки */
.btn-style {
  font-family: Calibri, sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  background: #eb8817;
  border-radius: 1px;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 5px 10px;
  text-decoration: none;
}
.btn-style.volume {
  font-family: "OpenSans-bold-wf";
  -moz-box-shadow: inset 0px 1px 2px 0px rgba(255, 255, 255, 0.24);
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(255, 255, 255, 0.24);
  box-shadow: inset 0px 1px 2px 0px rgba(255, 255, 255, 0.24);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkOTAxZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U1NmYwZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ed901d), color-stop(100%, #e56f0d));
  background-image: -moz-linear-gradient(top, #ed901d 0%, #e56f0d 100%);
  background-image: -webkit-linear-gradient(top, #ed901d 0%, #e56f0d 100%);
  background-image: linear-gradient(to bottom, #ed901d 0%, #e56f0d 100%);
}
.btn-style.volume.grey {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU2NTY1NiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM2MzYzNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #565656), color-stop(100%, #363636));
  background-image: -moz-linear-gradient(top, #565656 0%, #363636 100%);
  background-image: -webkit-linear-gradient(top, #565656 0%, #363636 100%);
  background-image: linear-gradient(to bottom, #565656 0%, #363636 100%);
}
.btn-style:hover {
  opacity: 0.9;
}

.btn-cart-style {
  position: relative;
  font-family: Calibri, sans-serif;
  color: #444444;
  font-size: 14px;
  padding: 8px;
  padding-left: 43px;
  background: #fff;
  background: url('/catalog/view/theme/default/image/app/ico-cart-orange-20x20.png?1429680576') 8px 50% no-repeat, #fff;
  border: 1px solid #e7e7e7;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.btn-cart-style:hover {
  cursor: pointer;
  opacity: 0.9;
}

/* Пагинация */
.pagination {
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.pagination .links {
  margin-bottom: 10px;
}
.pagination .links > * {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.pagination .links a {
  color: #000000;
  padding: 5px 8px;
  text-decoration: none;
}
.pagination .links a:hover {
  background: #eb8c2a;
  color: #fff;
}
.pagination .links b {
  background: #eb8c2a;
  color: #fff;
  font-weight: normal;
  padding: 5px 8px;
  border: 1px solid e7e7e7;
}

/* Списки продукции */
.product-list, .product-grid {
  word-spacing: 18px;
}
.product-list *, .product-grid * {
  word-spacing: normal;
}

.product-item {
  position: relative;
  padding: 15px;
  padding-bottom: 50px;
  width: 228px;
  height: 367px;
  border: 1px solid #e3e3e3;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-bottom: 20px;
}
.product-item .box-img {
  position: relative;
  display: block;
  margin-bottom: 12px;
}
.product-item .box-img:hover a img {
  opacity: 0.9;
}
.product-item .name {
  font-family: Calibri, sans-serif;
  font-size: 18px;
  max-height: 42px;
  color: #010101;
  line-height: 20px;
  margin-bottom: 5px;
}
.product-item .name a {
  text-decoration: none;
  color: #010101;
}
.product-item .name a:hover {
  text-decoration: underline;
}
.product-item .params {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 13px;
  color: #444444;
  text-transform: lowercase;
  margin-bottom: 5px;
}
.product-item .price {
  font-family: Calibri, sans-serif;
  font-size: 18px;
  color: #010101;
  line-height: 20px;
  margin-bottom: 8px;
}
.product-item .price .price-old {
  color: #646464;
  text-decoration: line-through;
  margin-right: 5px;
}
.product-item .actions {
  position: absolute;
  bottom: 15px;
}

.catalog-content .product-item {
  height: 405px;
  padding-bottom: 90px;
}
.catalog-content .product-item .ajaxbutton {
  margin-top: 7px;
  padding: 7px 10px;
}

/* сопутствующие товары */
.accompanying {
  word-spacing: 16px;
  margin-bottom: 30px;
}
.accompanying * {
  word-spacing: normal;
}

.accompanying-item {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 230px;
  margin-bottom: 15px;
}
.accompanying-item .image {
  width: 230px;
  height: 188px;
  border: 2px solid #f2f2f2;
  margin-bottom: 10px;
}
.accompanying-item .image:hover {
  opacity: 0.9;
}
.accompanying-item .name a {
  font-family: Calibri, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #444444;
}
.accompanying-item .name a:hover {
  text-decoration: none;
}

.fancybox-type-inline, .fancybox-type-html {
  width: auto !important;
}

.fancybox-type-inline .fancybox-skin, .fancybox-type-html .fancybox-skin {
  border-radius: 0px;
  background: #f2f2f2;
}
.fancybox-type-inline .fancybox-skin .modal-header, .fancybox-type-html .fancybox-skin .modal-header {
  background: #eb8c2a;
  padding: 15px;
  margin: 0px -15px;
  margin-top: -15px;
  font-family: Tahoma, sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  margin-bottom: 25px;
}
.fancybox-type-inline .fancybox-inner, .fancybox-type-html .fancybox-inner {
  padding: 15px;
  width: 440px !important;
}
.fancybox-type-inline .fancybox-outer, .fancybox-type-inline .fancybox-skin, .fancybox-type-html .fancybox-outer, .fancybox-type-html .fancybox-skin {
  width: 440px !important;
}
.fancybox-type-inline .fancybox-close, .fancybox-type-html .fancybox-close {
  top: 0px;
  right: 0px;
  width: 45px;
  height: 45px;
  background-image: url('/catalog/view/theme/default/image/app/close-white-17x18.png?1429267760');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.fancybox-type-inline .fancybox-close:hover, .fancybox-type-html .fancybox-close:hover {
  opacity: 0.9;
}
.fancybox-type-inline .fancybox-skin .style-form-text, .fancybox-type-html .fancybox-skin .style-form-text {
  width: 100%;
  font-family: Arial, sans-serif;
  color: #8c8c8c;
  font-size: 12px;
  background: #fff;
  border: 1px solid #e3e3e3;
  padding: 8px;
}
.fancybox-type-inline .fancybox-skin .style-form-text::-webkit-input-placeholder, .fancybox-type-html .fancybox-skin .style-form-text::-webkit-input-placeholder {
  font-family: Arial, sans-serif;
  color: #8c8c8c;
  font-size: 12px;
}
.fancybox-type-inline .fancybox-skin .style-form-text:-moz-placeholder, .fancybox-type-html .fancybox-skin .style-form-text:-moz-placeholder {
  font-family: Arial, sans-serif;
  color: #8c8c8c;
  font-size: 12px;
}
.fancybox-type-inline .fancybox-skin .style-form-text:-ms-input-placeholder, .fancybox-type-html .fancybox-skin .style-form-text:-ms-input-placeholder {
  font-family: Arial, sans-serif;
  color: #8c8c8c;
  font-size: 12px;
}
.fancybox-type-inline .fancybox-skin .style-form-text.placeholder, .fancybox-type-html .fancybox-skin .style-form-text.placeholder {
  font-family: Arial, sans-serif;
  color: #8c8c8c;
  font-size: 12px;
}
.fancybox-type-inline .fancybox-skin .form-row .icon-user, .fancybox-type-inline .fancybox-skin .form-row .icon-phone, .fancybox-type-html .fancybox-skin .form-row .icon-user, .fancybox-type-html .fancybox-skin .form-row .icon-phone {
  position: relative;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.fancybox-type-inline .fancybox-skin .form-row .icon-user input, .fancybox-type-inline .fancybox-skin .form-row .icon-phone input, .fancybox-type-html .fancybox-skin .form-row .icon-user input, .fancybox-type-html .fancybox-skin .form-row .icon-phone input {
  padding-right: 40px;
}
.fancybox-type-inline .fancybox-skin .form-row .icon-user:after, .fancybox-type-inline .fancybox-skin .form-row .icon-phone:after, .fancybox-type-html .fancybox-skin .form-row .icon-user:after, .fancybox-type-html .fancybox-skin .form-row .icon-phone:after {
  position: absolute;
  content: "";
  top: 4px;
  right: 0px;
  width: 38px;
  height: 24px;
  border-left: 1px solid #e3e3e3;
}
.fancybox-type-inline .fancybox-skin .form-row .icon-user:after, .fancybox-type-html .fancybox-skin .form-row .icon-user:after {
  background: url('/catalog/view/theme/default/image/app/ico-user-grey-21x20.png?1429269923') 50% 50% no-repeat;
}
.fancybox-type-inline .fancybox-skin .form-row .icon-phone:after, .fancybox-type-html .fancybox-skin .form-row .icon-phone:after {
  background: url('/catalog/view/theme/default/image/app/ico-phone-grey-21x21.png?1429270019') 50% 50% no-repeat;
}

/* о компании на главной */
.box-about {
  padding: 40px 0px;
  background: url('/catalog/view/theme/default/image/app/shadow-line.png?1428997256') 50% 0px no-repeat;
}

/* главное меню */
.box-actions {
  min-width: 980px;
  padding: 21px 0px;
  margin-bottom: 45px;
  background: url('/catalog/view/theme/default/image/app/bg-box-actions.jpg?1428476247') 50% 0px repeat-x;
}
.box-actions .title-style {
  margin-bottom: 20px;
}

.wrap-actions {
  position: relative;
}
.wrap-actions .prev, .wrap-actions .next {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 105px;
  z-index: 101;
  cursor: pointer;
}
.wrap-actions .prev:hover, .wrap-actions .next:hover {
  opacity: 0.9;
}
.wrap-actions .prev {
  left: -55px;
  background: url('/catalog/view/theme/default/image/app/arrow-white-grey-sprite-30x30.png?1428474217') 0px 0px no-repeat;
}
.wrap-actions .prev.disabled {
  background: url('/catalog/view/theme/default/image/app/arrow-white-grey-sprite-30x30.png?1428474217') -60px 0px no-repeat;
}
.wrap-actions .prev.disabled:hover {
  cursor: auto;
  opacity: 1;
}
.wrap-actions .next {
  right: -55px;
  background: url('/catalog/view/theme/default/image/app/arrow-white-grey-sprite-30x30.png?1428474217') -30px 0px no-repeat;
}
.wrap-actions .next.disabled {
  background: url('/catalog/view/theme/default/image/app/arrow-white-grey-sprite-30x30.png?1428474217') -90px 0px no-repeat;
}
.wrap-actions .next.disabled:hover {
  cursor: auto;
  opacity: 1;
}

.actions-list {
  margin: 0px -12px;
  height: 290px;
}

.actions-item {
  position: relative !important;
  width: 475px;
  padding: 15px;
  background: #fff;
  margin: 0px 12px;
}
.actions-item * {
  white-space: normal;
}
.actions-item:before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0px;
  width: 100%;
  height: 45px;
  background: url('/catalog/view/theme/default/image/app/shadow-action-item.png?1428414146') 50% 0px no-repeat;
}
.actions-item .box-img {
  display: table-cell;
}
.actions-item .info {
  font-family: Calibri, sans-serif;
  width: 220px;
  height: 218px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 12px;
}
.actions-item .mark {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  background: #eb8c2a;
  padding: 5px 8px;
  margin-bottom: 8px;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.actions-item .title, .actions-item .date {
  font-weight: bold;
  font-size: 21px;
  color: #010101;
}
.actions-item .title a, .actions-item .date a {
  color: #010101;
  text-decoration: none;
}
.actions-item .title a:hover, .actions-item .date a:hover {
  text-decoration: underline;
}
.actions-item .date {
  margin-bottom: 8px;
}
.actions-item .description {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 5px;
}
.actions-item .more {
  color: #444444;
  font-size: 14px;
}
.actions-item .more:hover {
  text-decoration: none;
}

/* главное меню */
.box-latest {
  margin-bottom: 45px;
}
.box-latest .product-list {
  margin: 0px -8px;
}
.box-latest .product-item {
  margin: 0px 11px;
}
.box-latest .product-item * {
  white-space: normal;
}
.box-latest .top {
  margin-bottom: 20px;
  border-bottom: 1px solid #e3e3e3;
}
.box-latest .title-style {
  float: left;
  margin-bottom: 0px;
}
.box-latest .nav-slider {
  float: right;
}
.box-latest .nav-slider .prev, .box-latest .nav-slider .next {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.box-latest .nav-slider .prev:hover, .box-latest .nav-slider .next:hover {
  opacity: 0.9;
}
.box-latest .nav-slider .prev {
  background: url('/catalog/view/theme/default/image/app/arrow-white-grey-sprite-30x30.png?1428474217') 0px 0px no-repeat;
}
.box-latest .nav-slider .prev.disabled {
  background: url('/catalog/view/theme/default/image/app/arrow-white-grey-sprite-30x30.png?1428474217') -60px 0px no-repeat;
}
.box-latest .nav-slider .prev.disabled:hover {
  cursor: auto;
  opacity: 1;
}
.box-latest .nav-slider .next {
  background: url('/catalog/view/theme/default/image/app/arrow-white-grey-sprite-30x30.png?1428474217') -30px 0px no-repeat;
}
.box-latest .nav-slider .next.disabled {
  background: url('/catalog/view/theme/default/image/app/arrow-white-grey-sprite-30x30.png?1428474217') -90px 0px no-repeat;
}
.box-latest .nav-slider .next.disabled:hover {
  cursor: auto;
  opacity: 1;
}

/* памятка на главной */
.box-memo {
  position: relative;
  padding: 90px 0px;
  background: #d7d7d7;
}
.box-memo:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  top: 0px;
  left: 0px;
  background: url('/catalog/view/theme/default/image/app/shadow-line.png?1428997256') 50% 0px no-repeat;
}
.box-memo .memo-list {
  -moz-box-shadow: 0px 0px 27px 0px rgba(51, 51, 51, 0.52);
  -webkit-box-shadow: 0px 0px 27px 0px rgba(51, 51, 51, 0.52);
  box-shadow: 0px 0px 27px 0px rgba(51, 51, 51, 0.52);
  background: url('/catalog/view/theme/default/image/app/bg-memo.jpg?1428998565') 50% 0px repeat-y;
}
.box-memo .left {
  padding: 30px;
  float: left;
  width: 50%;
}
.box-memo .right {
  padding: 30px;
  padding-top: 100px;
  float: right;
  width: 50%;
}
.box-memo .title {
  font-family: "OpenSans-bold-wf";
  font-size: 18px;
  color: #333333;
  line-height: 22px;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin: 30px 0px 50px 40px;
  border-bottom: 10px solid #eb8c2a;
}
.box-memo .memo-item {
  font-family: Verdana, sans-serif;
  color: #444444;
  font-size: 13px;
  line-height: 16px;
  padding-left: 60px;
  margin-top: 40px;
}
.box-memo .memo-item:first-child {
  margin-top: 0px;
}
.box-memo .numb {
  font-family: "OpenSans-regular-wf";
  padding: 15px 8px;
  font-size: 31px;
  background: #eb8c2a;
  color: #fff;
  float: left;
  margin-left: -60px;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* блок с предложениями менеджерами на главной */
.box-offer-manager {
  margin-bottom: 50px;
}

.box-offer {
  float: left;
  width: 730px;
}

.box-manager {
  float: right;
  width: 235px;
}

.offer-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.offer-list .item {
  font-family: "OpenSans-regular-wf";
  color: #444444;
  font-size: 16px;
  line-height: 22px;
  padding: 23px 20px 23px 45px;
  border-bottom: 1px solid #e3e3e3;
  background: url('/catalog/view/theme/default/image/app/ico-check-orange-29x27.png?1427978257') 0px 50% no-repeat;
}
.offer-list .item span {
  text-transform: uppercase;
  color: #eb8c2a;
}

.box-manager .manager-1, .box-manager .manager-2 {
  position: relative;
}
.box-manager .manager-1 .info {
  background: #fcd634;
  color: #333333;
}
.box-manager .manager-2 .info {
  background: #eb8d2b;
  color: #fff;
}
.box-manager .info {
  position: absolute;
  bottom: 13px;
  right: 0px;
  width: 120px;
  height: 50px;
  padding-top: 5px;
  padding-left: 7px;
  background: #FFFFCB;
}
.box-manager .info:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  top: 100%;
  left: 0px;
  background: url('/catalog/view/theme/default/image/app/shadow-manager-info.png?1427980005') no-repeat;
}
.box-manager .name {
  font-family: "OpenSans-bold-wf";
}
.box-manager .phone {
  font-family: "OpenSans-regular-wf";
}

/* главное меню */
.box-sale {
  margin-bottom: 45px;
}
.box-sale .product-list {
  margin: 0px -8px;
}
.box-sale .product-item {
  margin: 0px 11px;
}
.box-sale .product-item * {
  white-space: normal;
}
.box-sale .top {
  margin-bottom: 20px;
  border-bottom: 1px solid #e3e3e3;
}
.box-sale .title-style {
  float: left;
  margin-bottom: 0px;
}
.box-sale .nav-slider {
  float: right;
}
.box-sale .nav-slider .prev, .box-sale .nav-slider .next {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.box-sale .nav-slider .prev:hover, .box-sale .nav-slider .next:hover {
  opacity: 0.9;
}
.box-sale .nav-slider .prev {
  background: url('/catalog/view/theme/default/image/app/arrow-white-grey-sprite-30x30.png?1428474217') 0px 0px no-repeat;
}
.box-sale .nav-slider .prev.disabled {
  background: url('/catalog/view/theme/default/image/app/arrow-white-grey-sprite-30x30.png?1428474217') -60px 0px no-repeat;
}
.box-sale .nav-slider .prev.disabled:hover {
  cursor: auto;
  opacity: 1;
}
.box-sale .nav-slider .next {
  background: url('/catalog/view/theme/default/image/app/arrow-white-grey-sprite-30x30.png?1428474217') -30px 0px no-repeat;
}
.box-sale .nav-slider .next.disabled {
  background: url('/catalog/view/theme/default/image/app/arrow-white-grey-sprite-30x30.png?1428474217') -90px 0px no-repeat;
}
.box-sale .nav-slider .next.disabled:hover {
  cursor: auto;
  opacity: 1;
}

/* слайдер */
.box-timer {
  margin-bottom: 45px;
}
.box-timer .flip-clock-wrapper {
  font-family: Arial, sans-serif;
  font-size: 10px;
  text-transform: capitalize;
  width: auto;
}
.box-timer .flip-clock-wrapper ul {
  padding: 0px;
  width: 30px;
  height: 45px;
  line-height: 45px;
  margin: 2px;
}
.box-timer .flip-clock-wrapper ul li a div div.inn {
  font-size: 33px;
}
.box-timer .flip-clock-wrapper ul li {
  line-height: 45px;
}
.box-timer .flip-clock-divider {
  width: 12px;
  height: 55px;
}
.box-timer .flip-clock-divider .flip-clock-label {
  right: -49px;
}
.box-timer .flip-clock-divider.minutes .flip-clock-label {
  right: -52px;
}
.box-timer .flip-clock-divider.seconds .flip-clock-label {
  right: -50px;
}
.box-timer .flip-clock-dot {
  width: 7px;
  height: 7px;
  left: 2px;
}
.box-timer .flip-clock-dot.top {
  top: 14px;
}
.box-timer .flip-clock-dot.bottom {
  bottom: 15px;
}

.box-timer-bg {
  height: 81px;
  background: url('/catalog/view/theme/default/image/app/bg-timer.jpg?1428389545') 50% 0px no-repeat;
}

.box-timer .title {
  width: 470px;
  height: 81px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
  text-align: center;
}
.box-timer .title span {
  font-family: "OpenSans-extrabold-wf";
  color: #333333;
  text-transform: uppercase;
  line-height: 34px;
}
.box-timer .box-img-stop-date {
  width: 160px;
  text-align: center;
}
.box-timer .box-img-stop-date img {
  margin-top: -10px;
}
.box-timer .box-img-stop-date .stop-date {
  font-family: "OpenSans-regular-wf";
  margin-top: -64px;
  font-size: 20px;
  text-transform: lowercase;
}
.box-timer .box-img-stop-date .stop-date:hover {
  opacity: 1;
  cursor: auto;
}
.box-timer .clock {
  margin: 0px;
  margin-top: 20px;
}

/* форма заказ звонка */
.callback-form .form-row .icon-user, .callback-form .form-row .icon-phone {
  width: 100%;
}

/* корзина */
.simple-content {
  margin: 0px;
}
.simple-content .hide {
  display: none;
}
.simple-content input[type="checkbox"], .simple-content input[type="radio"] {
  vertical-align: middle;
}
.simple-content input[type="checkbox"]:hover, .simple-content input[type="radio"]:hover {
  cursor: pointer;
}
.simple-content input[disabled="disabled"], .simple-content textarea[disabled="disabled"] {
  background: #fff;
  opacity: 1;
}

.simplecheckout-cart {
  border: 1px solid #cbcbcb;
}
.simplecheckout-cart thead th {
  text-align: center !important;
  color: #8b8a8a;
  font-size: 12px;
  background: #f2f2f2;
  padding: 10px;
  border-bottom: 1px solid #e3e3e3;
  font-family: Arial, sans-serif;
}
.simplecheckout-cart td {
  vertical-align: middle !important;
  padding: 15px;
}
.simplecheckout-cart td.name a {
  font-family: "OpenSans-regular-wf";
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}
.simplecheckout-cart td.name a:hover {
  text-decoration: none;
}
.simplecheckout-cart td.remove {
  width: 45px;
}
.simplecheckout-cart td.quantity input[type='text'] {
  width: 40px;
  vertical-align: middle;
  text-align: center;
  padding: 8px;
  margin: 0px 3px;
}
.simplecheckout-cart td.quantity .up, .simplecheckout-cart td.quantity .down {
  width: 19px;
  height: 19px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.simplecheckout-cart td.quantity .up:hover, .simplecheckout-cart td.quantity .down:hover {
  cursor: pointer;
}
.simplecheckout-cart td.quantity .down {
  background: url('/catalog/view/theme/default/image/app/btn-uo-down-sprite-orange-19x19.png?1429871822') 0px 0px no-repeat;
}
.simplecheckout-cart td.quantity .up {
  background: url('/catalog/view/theme/default/image/app/btn-uo-down-sprite-orange-19x19.png?1429871822') -19px 0px no-repeat;
}
.simplecheckout-cart td.remove .btn-remove {
  width: 19px;
  height: 19px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: url('/catalog/view/theme/default/image/app/btn-cross-orange-19x19.png?1429872581') 0px 0px no-repeat;
}
.simplecheckout-cart td.remove .btn-remove:hover {
  cursor: pointer;
}

.simplecheckout-customer-block h3 {
  margin: 0px;
  margin-bottom: 10px;
  font-family: "OpenSans-bold-wf";
  font-size: 20px;
  line-height: 22px;
  color: #333333;
}

.simplecheckout-customer-one-column {
  width: 100%;
}

.simplecheckout-left-column, .simplecheckout-right-column {
  width: 480px;
  min-width: 0px;
  max-width: 100%;
}

.simplecheckout-left-column {
  margin-right: 0px;
}

.simplecheckout-customer-left {
  width: 100px;
}

.simplecheckout-customer-right {
  width: 230px;
}

.simplecheckout-block-heading {
  font-family: "OpenSans-bold-wf";
  font-size: 14px;
  background: #f2f2f2;
  padding: 15px;
  margin-bottom: 0px;
  border: 1px solid #cbcbcb;
  border-bottom: 1px solid #e3e3e3;
}

.simplecheckout-block-content {
  border: 1px solid #cbcbcb;
  border-top: none;
}

.simplecheckout-methods-table tr:first-child td b {
  margin: 0px;
  margin-bottom: 10px;
  font-family: "OpenSans-bold-wf";
  font-size: 20px;
  line-height: 22px;
  color: #333333;
}
.simplecheckout-methods-table td.quote {
  width: 25%;
}

.simple-content .box-sub-total, .simple-content .box-total {
  margin: 30px 0px;
}
.simple-content .box-sub-total .item, .simple-content .box-total .item {
  text-align: right;
}
.simple-content .box-sub-total .name, .simple-content .box-total .name {
  font-family: "OpenSans-regular-wf";
  font-size: 14px;
  line-height: 14px;
  color: #333333;
}
.simple-content .box-sub-total .value, .simple-content .box-total .value {
  font-family: Calibri, sans-serif;
  font-size: 26px;
  line-height: 26px;
  color: #eb8c2a;
}
.simple-content .actions {
  border: none !important;
}
.simple-content .actions .btn-order {
  font-size: 18px;
  padding: 10px 20px;
}

/* меню категорий в каталоге */
.box-category-menu {
  border: 1px solid #e3e3e3;
  margin-bottom: 10px;
}
.box-category-menu .title {
  font-family: "OpenSans-bold-wf";
  color: #333333;
  font-size: 20px;
  background: #f2f2f2;
  padding: 10px;
  border-bottom: 1px solid #e3e3e3;
}

.category-menu {
  padding: 15px;
}
.category-menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.category-menu li {
  margin-top: 7px;
}
.category-menu li > ul {
  display: none;
}
.category-menu a {
  font-family: "OpenSans-regular-wf";
  font-size: 16px;
  line-height: 18px;
}
.category-menu li.active > ul {
  display: block;
}
.category-menu > ul > li {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #e3e3e3;
}
.category-menu > ul > li:first-child {
  margin-top: 0px;
  padding-top: 0px;
  border-top: none;
}
.category-menu > ul > li > a {
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
.category-menu > ul > li > ul {
  padding-left: 10px;
}
.category-menu > ul > li > ul > li > a {
  color: #444444;
}
.category-menu > ul > li > ul > li > a:hover, .category-menu > ul > li > ul > li > a.active {
  color: #eb8c2a;
  text-decoration: none;
}
.category-menu > ul > li > ul > li > ul > li > a {
  color: #817f7f;
  background: url('/catalog/view/theme/default/image/app/dot-grey-7x7.png?1429095096') 0px 50% no-repeat;
  padding-left: 14px;
}
.category-menu > ul > li > ul > li > ul > li > a:hover, .category-menu > ul > li > ul > li > ul > li > a.active {
  text-decoration: none;
  color: #eb8c2a;
}
.category-menu > ul > li > ul > li > ul ul {
  padding-left: 14px;
}
.category-menu > ul > li > ul > li > ul a {
  color: #817f7f;
}
.category-menu > ul > li > ul > li > ul a:hover, .category-menu > ul > li > ul > li > ul a.active {
  color: #eb8c2a;
  text-decoration: none;
}

/* фильтр */
#filterpro {
  position: relative;
  background: url('/catalog/view/theme/default/image/app/bg-grid.png?1429100775') 0px 0px repeat, #f2f2f2;
  border: 1px solid #e3e3e3;
  padding: 10px;
  padding-right: 135px;
  -moz-box-shadow: 3px 3px 3px #ededed;
  -webkit-box-shadow: 3px 3px 3px #ededed;
  box-shadow: 3px 3px 3px #ededed;
  margin-bottom: 35px;
}
#filterpro .option_box {
  min-width: 0px;
  position: relative;
  padding: 0px;
  min-height: 32px;
  line-height: 32px;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
#filterpro select {
  width: auto;
  font-family: Arial, sans-serif;
  color: #5E5E5E;
  padding: 5px;
  border: 2px solid #eaeaea;
}
#filterpro select:hover {
  cursor: pointer;
}
#filterpro .price_slider {
  padding: 0px 5px;
}
#filterpro .price_slider #min_price, #filterpro .price_slider #max_price {
  font-family: Arial, sans-serif;
  font-weight: normal;
  color: #8c8c8c;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  background: #fff;
  padding: 5px;
  margin: 0px;
  border: 2px solid #eaeaea;
}
#filterpro .price_slider .ui-slider-range {
  background: #eb8c2a;
}
#filterpro .price_slider .ui-slider-handle {
  width: 19px;
  height: 19px;
  border: none;
  background: url('/catalog/view/theme/default/image/app/dot-gray-skeuo-19x19.png?1429163752') 50% 50% no-repeat;
  cursor: pointer;
}
#filterpro .action-filter {
  position: absolute;
  right: 25px;
  top: 25px;
}
#filterpro .more {
  position: absolute;
  top: 65px;
  right: 31px;
  color: #8c8c8c;
  text-transform: lowercase;
  font-size: 11px;
  font-family: Arial, sans-serif;
  border-bottom: 1px dashed #8c8c8c;
}
#filterpro .more:hover {
  cursor: pointer;
  border-bottom: 1px dotted #8c8c8c;
}
#filterpro input[type="checkbox"], #filterpro input[type="radio"], #filterpro label {
  vertical-align: middle;
}
#filterpro .box-add {
  display: none;
}

/* подвал */
#footer {
  background: #f2f3f5;
  color: #444444;
  font-size: 12px;
  padding: 30px;
  padding-bottom: 0px;
}
#footer .left {
  float: left;
  width: 355px;
}
#footer .right {
  position: relative;
  float: right;
  width: 570px;
  padding-bottom: 15px;
}
#footer .copy {
  margin-bottom: 30px;
}
#footer .footer-contacts {
  line-height: 20px;
}
#footer .footer-menu {
  margin-bottom: 20px;
}
#footer .footer-menu ul {
  word-spacing: 20px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#footer .footer-menu ul * {
  word-spacing: normal;
}
#footer .footer-menu li {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
#footer .footer-menu a {
  color: #444444;
  font-size: 13px;
  text-decoration: none;
}
#footer .footer-menu a.active, #footer .footer-menu a:hover {
  color: #eb8c2a;
  text-decoration: underline;
}
#footer .pay {
  line-height: 20px;
}
#footer .pay p {
  margin: 0px;
  margin-bottom: 10px;
}
#footer .dev {
  position: absolute;
  bottom: 0px;
  right: 0px;
  line-height: 15px;
}
#footer .dev span {
  text-transform: lowercase;
}
#footer .dev img {
  vertical-align: middle;
}
#footer .dev a {
  color: #000;
  text-transform: uppercase;
  text-decoration: underline;
}
#footer .dev a:hover {
  text-decoration: none;
}

/* шапка */
#header {
  padding-top: 20px;
  padding-bottom: 30px;
}
#header .logo, #header .header-contacts, #header .cart-flash {
  float: left;
}
#header #search {
  float: right;
}
#header .logo {
  text-decoration: none;
}
#header .logo:hover {
  opacity: 0.9;
}
#header .logo img {
  margin-bottom: 5px;
}
#header .logo span {
  display: block;
  color: #060606;
  font-family: Verdana, sans-serif;
  font-style: italic;
  font-size: 12px;
  text-decoration: none;
  text-transform: lowercase;
}

.header-contacts {
  font-family: Arial;
  margin-top: 5px;
  margin-left: 70px;
}
.header-contacts .phone {
  font-size: 22px;
  font-weight: bold;
  color: #444444;
}
.header-contacts .wrap-callback {
  font-size: 12px;
  line-height: 25px;
  padding-right: 25px;
  background: url('/catalog/view/theme/default/image/app/ico-phone-orange-21x21.png?1427787060') 100% 50% no-repeat;
}
.header-contacts .wrap-callback span {
  margin-right: 5px;
}

.cart-flash {
  padding-left: 32px;
  line-height: 25px;
  margin-top: 18px;
  margin-left: 60px;
  background: url('/catalog/view/theme/default/image/app/ico-cart-orange-23x23.png?1427790207') 0px 50% no-repeat;
}

#search {
  margin-top: 11px;
}
#search .form-search-style {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #444444;
  width: 150px;
  padding: 12px;
  padding-right: 35px;
  border-radius: 20px;
  border: 1px solid #e8e8e8;
  -moz-box-shadow: inset 1px 1px 2px 0px #e8e8e8;
  -webkit-box-shadow: inset 1px 1px 2px 0px #e8e8e8;
  box-shadow: inset 1px 1px 2px 0px #e8e8e8;
}
#search .form-search-style::-webkit-input-placeholder {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #444444;
}
#search .form-search-style:-moz-placeholder {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #444444;
}
#search .form-search-style:-ms-input-placeholder {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #444444;
}
#search .form-search-style.placeholder {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #444444;
}
#search .button-search {
  width: 41px;
  height: 41px;
  display: inline-block;
  vertical-align: middle;
  margin-left: -47px;
  background: url('/catalog/view/theme/default/image/app/ico-loupe-gray-12x13.png?1427790843') 50% 50% no-repeat;
}
#search .button-search:hover {
  cursor: pointer;
  opacity: 0.9;
}

/* главное меню */
.main-menu {
  position: relative;
  font-family: Calibri, sans-serif;
  border-top: 1px solid #e3e3e3;
  z-index: 2;
  min-width: 980px;
  -moz-box-shadow: 0px 3px 3px rgba(15, 15, 15, 0.15);
  -webkit-box-shadow: 0px 3px 3px rgba(15, 15, 15, 0.15);
  box-shadow: 0px 3px 3px rgba(15, 15, 15, 0.15);
}
.main-menu ul {
  list-style: none;
  padding: 0px;
  display: table;
}
.main-menu li {
  display: table-cell;
  text-align: center;
}
.main-menu li:first-child a {
  border-left: 1px solid #e3e3e3;
}
.main-menu a {
  display: block;
  font-weight: bold;
  color: #817f7f;
  font-size: 18px;
  padding: 15px 17px;
  text-decoration: none;
  border-right: 1px solid #e3e3e3;
}
.main-menu a:hover, .main-menu a.active {
  background-color: #fbfbfb;
  color: #444444;
}

/* форма заказа в один клик */
#ajaxorder {
  width: 410px;
}
#ajaxorder .hide {
  display: none;
}
#ajaxorder input[type="text"] {
  width: 280px;
}
#ajaxorder .actions {
  margin-top: 20px;
  word-spacing: 20px;
}
#ajaxorder .actions .btn-style {
  padding-left: 25px;
  padding-right: 25px;
}
#ajaxorder .count input[type="text"] {
  background: #fff;
  border: none;
  width: 80px;
  color: #444444;
  font-weight: bold;
}
#ajaxorder .count input[type="text"].quantity {
  width: 45px;
  border: 1px solid #e4e4e4;
  text-align: center;
}
#ajaxorder .count input[type="text"].product-detected {
  border: none;
  text-align: left;
}

.box-product-info {
  background: #fff;
  padding: 9px;
  border: 1px solid #e4e4e4;
  margin-bottom: 10px;
}
.box-product-info .left {
  float: left;
  width: 75px;
}
.box-product-info .right {
  width: 290px;
  float: right;
}
.box-product-info .top {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.box-product-info .name {
  font-family: Calibri, sans-serif;
  font-size: 18px;
  line-height: 22px;
}
.box-product-info .params, .box-product-info .count, .box-product-info .price {
  color: #8c8c8c;
  font-size: 12px;
  line-height: 14px;
  font-family: Arial, sans-serif;
  text-transform: lowercase;
}
.box-product-info .count, .box-product-info .price {
  color: #444444;
  text-transform: none;
  margin-bottom: 5px;
  font-weight: bold;
}

/* страница продукта */
#esponi_OTF_CFODebug {
  display: none !important;
}

.product-info {
  overflow: auto;
  margin-bottom: 20px;
}
.product-info > .left {
  float: left;
  margin-right: 15px;
}
.product-info > .left + .right {
  margin-left: 312px;
}
.product-info .share {
  margin-bottom: 10px;
}
.product-info .table {
  display: table;
  width: 100%;
  margin-bottom: 10px;
}
.product-info .table .cell:first-child {
  min-width: 120px;
}
.product-info .cell {
  display: table-cell;
  width: 100px;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}
.product-info .cell input {
  width: 60px;
}
.product-info .cell.left {
  text-align: left;
}
.product-info .cell.right {
  text-align: left;
}
.product-info h1 {
  font-family: "OpenSans-bold-wf";
  color: #333333;
  font-size: 20px;
  line-height: 24px;
  margin: 0px;
  margin-bottom: 25px;
}
.product-info .notice {
  color: #444444;
  font-size: 14px;
  font-family: Verdana, sans-serif;
  border: 1px solid #e3e3e3;
  background: none;
  padding: 10px;
  margin-bottom: 10px;
}
.product-info .image {
  position: relative;
  padding: 10px;
  border: 1px solid #e3e3e3;
}
.product-info .manufacturer a {
  color: #eb8c2a;
}
.product-info .manufacturer a:hover {
  text-decoration: none;
}
.product-info .price-old {
  color: #808080;
  text-decoration: line-through;
}
.product-info .count-meters {
  border: none;
  color: #444444;
  font-size: 14px;
  font-family: Verdana, sans-serif;
  background: none;
}
.product-info #esponi_OTF_Container {
  margin-bottom: 20px;
}
.product-info #esponi_OTF_UnitText, .product-info #esponi_OTF_Unit {
  display: none !important;
}
.product-info #esponi_OTF_TotalText {
  color: #444444;
  font-size: 14px;
  font-family: Verdana, sans-serif;
}
.product-info #esponi_OTF_Total {
  display: block;
  font-family: Calibri, sans-serif;
  font-size: 26px;
  line-height: 28px;
  color: #eb8c2a;
}
.product-info .ajaxbutton {
  padding: 9px;
  margin-left: 15px;
}

.box-tabs {
  padding-top: 30px;
  background: url('/catalog/view/theme/default/image/app/shadow-line-product.png?1429687737') 50% 0px no-repeat;
}
.box-tabs .htabs a {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #444444;
  font-family: Calibri, sans-serif;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  background: #f2f2f2;
  border: 1px solid #e9e9e9;
  padding: 8px 10px;
}
.box-tabs .htabs a.selected, .box-tabs .htabs a:hover {
  background: #fff;
  border-bottom: 1px solid #fff;
}
.box-tabs .tab-content {
  padding: 10px;
  padding-top: 40px;
  margin-top: -1px;
  border: 1px solid #e9e9e9;
  -moz-box-shadow: 3px 3px 2px #c9c9c9;
  -webkit-box-shadow: 3px 3px 2px #c9c9c9;
  box-shadow: 3px 3px 2px #c9c9c9;
}

.attribute {
  width: 100%;
}
.attribute tr td {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  color: #817f7f;
  padding: 2px 8px;
}
.attribute tr td:first-child {
  width: 35%;
  color: #444444;
}
.attribute tr:nth-child(2n) {
  background: #f2f2f2;
}

.box-product-actions {
  margin-bottom: 10px;
}
.box-product-actions .item {
  padding: 18px;
  margin-top: 10px;
  border: 1px solid #e3e3e3;
}
.box-product-actions .item:first-child {
  margin-top: 0px;
}
.box-product-actions .mark {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.box-product-actions .mark:hover {
  opacity: 1;
  cursor: auto;
}
.box-product-actions .name, .box-product-actions .interval {
  font-family: Calibri, sans-serif;
  font-size: 21px;
  line-height: 18px;
  font-weight: bold;
  color: #010101;
  margin-bottom: 10px;
}
.box-product-actions .more a {
  font-size: 14px;
  color: #444444;
  font-family: Calibri, sans-serif;
}
.box-product-actions .more a:hover {
  text-decoration: none;
}

.box-consultants {
  margin-bottom: 10px;
}
.box-consultants .manager-1 {
  color: #000;
  margin-bottom: 10px;
  background: #fcd634;
}
.box-consultants .manager-2 {
  color: #fff;
  background: #eb8d2b;
}
.box-consultants img {
  float: left;
}
.box-consultants .info {
  min-height: 81px;
  float: right;
  width: 109px;
  font-size: 13px;
  padding: 20px 5px 0px 10px;
}
.box-consultants .name {
  font-family: "OpenSans-bold-wf";
}
.box-consultants .phone {
  font-family: "OpenSans-regular-wf";
}

/* слайдер */
.box-slider {
  position: relative;
  overflow: hidden;
  min-width: 980px;
  margin-bottom: 30px;
}
.box-slider .slider {
  z-index: 1;
}
.box-slider .slide {
  width: 100%;
  padding: 30px 0px;
}
.box-slider .slider-content {
  min-height: 373px;
  position: relative;
}
.box-slider .prev, .box-slider .next {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  width: 35px;
  height: 35px;
  z-index: 3;
}
.box-slider .prev:hover, .box-slider .next:hover {
  opacity: 0.9;
  cursor: pointer;
}
.box-slider .prev {
  left: 50%;
  margin-left: -570px;
  background: url('/catalog/view/theme/default/image/app/arrow-white-sprite-35x35.png?1427961292') 0px 0px no-repeat;
}
.box-slider .next {
  right: 50%;
  margin-right: -570px;
  background: url('/catalog/view/theme/default/image/app/arrow-white-sprite-35x35.png?1427961292') -35px 0px no-repeat;
}
.box-slider .wrap-pager {
  text-align: center;
  margin-top: -16px;
}
.box-slider .pager {
  position: relative;
  padding: 8px 0px;
  height: 36px;
  z-index: 3;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: url('/catalog/view/theme/default/image/app/bg-slider-pager-center.png?1427964310') 0px 0px repeat-x;
}
.box-slider .pager span {
  overflow: hidden;
  text-indent: -9000px;
  width: 19px;
  height: 19px;
  margin-left: 9px;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: url('/catalog/view/theme/default/image/app/btn-slider-pager-sprite.png?1427963131') 0px 0px no-repeat;
}
.box-slider .pager span.cycle-pager-active, .box-slider .pager span:hover {
  cursor: pointer;
  background: url('/catalog/view/theme/default/image/app/btn-slider-pager-sprite.png?1427963131') -19px 0px no-repeat;
}
.box-slider .pager span:first-child {
  margin-left: 0px;
}
.box-slider .pager:before, .box-slider .pager:after {
  position: absolute;
  content: "";
  width: 18px;
  top: 0px;
  height: 100%;
}
.box-slider .pager:before {
  right: 100%;
  background: url('/catalog/view/theme/default/image/app/bg-slider-pager-left.png?1427963922') 0px 50% no-repeat;
}
.box-slider .pager:after {
  left: 100%;
  background: url('/catalog/view/theme/default/image/app/bg-slider-pager-right.png?1427963944') 100% 50% no-repeat;
}
.box-slider .more {
  position: absolute;
  bottom: 40px;
  left: 7px;
  text-transform: lowercase;
  padding: 10px 35px;
}

/* статусы */
.statuses {
  position: absolute;
  top: -10px;
  right: -10px;
}
.statuses .product-status {
  display: block;
  margin-bottom: 3px;
}

.product-info .statuses {
  top: 0px;
  right: auto;
  left: 0px;
}

.tooltipster-base {
  background: #fff;
  border-radius: 0px;
  border: 1px solid #ede5df;
  color: #6e6e6e;
  font-family: Verdana, sans-serif;
  font-size: 10px;
  line-height: 14px;
  -moz-box-shadow: 2px 2px 5px #8d8d8d;
  -webkit-box-shadow: 2px 2px 5px #8d8d8d;
  box-shadow: 2px 2px 5px #8d8d8d;
}

.tooltipster-content {
  max-width: 200px;
}

/* блок над каталогом, с заголовком и сортировками */
.top-sort {
  padding-bottom: 2px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e3e3e3;
}
.top-sort h1 {
  font-family: "OpenSans-bold-wf";
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  float: left;
  margin: 0px;
  max-width: 350px;
}
.top-sort .product-sorting {
  float: right;
}
.top-sort .product-sorting .limit, .top-sort .product-sorting .sort {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.top-sort .product-sorting .limit b, .top-sort .product-sorting .sort b {
  font-size: 13px;
  font-weight: normal;
  color: #444444;
}
.top-sort .product-sorting .limit select, .top-sort .product-sorting .sort select {
  width: auto;
  font-family: Arial, sans-serif;
  color: #5E5E5E;
  padding: 5px;
  border: 2px solid #eaeaea;
}
.top-sort .product-sorting .limit select:hover, .top-sort .product-sorting .sort select:hover {
  cursor: pointer;
}
