/* подвал
#footer
  font-family: Verdana, sans-serif
  border-top: 1px solid #d4d4d4
  padding-top: 25px
  .copy
    color: #845d45
    font-size: 13px
  .footer-menu
    margin-bottom: 20px
    ul
      word-spacing: 20px
      list-style: none
      margin: 0px
      padding: 0px
      *
        word-spacing: normal
    li
      +inline-block(top)
    a
      color: #845d45
      font-size: 13px
      text-decoration: underline
      &.active, &:hover
        text-decoration: none
  .soc-btns
    margin-left: 0px !important
  .dev
    line-height: 15px
    span
      text-transform: lowercase
    img
      vertical-align: middle
    a
      color: #000
      text-transform: uppercase
      text-decoration: underline
      &:hover
        text-decoration: none
