/* шапка
.header .bottom
  padding: 20px 0px
  .logo
    float: left
    img
      max-width: 100%
  .header-contact
    float: right
    padding: 13px 0px
    .phone
      +font-family-1
      font-weight: bold
      font-size: 19px
      color: #845d45
      line-height: 27px
      padding-left: 30px
      background: url("/images/app/ico-phone-brown-27x27.png") 0px 50% no-repeat
.header .bottom, #footer
  .soc-btns
    margin-left: 55px
    a
      display: inline-block
      width: 27px
      height: 27px
      margin-left: 5px
    .fb-btn
      background: url("/images/app/ico-fb-brown-sprite-27x27.png") 0px 0px no-repeat
      &:hover
        background: url("/images/app/ico-fb-brown-sprite-27x27.png") -27px 0px no-repeat
    .skype-btn
      background: url("/images/app/ico-skype-brown-sprite-27x27.png") 0px 0px no-repeat
      &:hover
        background: url("/images/app/ico-skype-brown-sprite-27x27.png") -27px 0px no-repeat
    .gplus-btn
      background: url("/images/app/ico-gplus-brown-sprite-27x27.png") 0px 0px no-repeat
      &:hover
        background: url("/images/app/ico-gplus-brown-sprite-27x27.png") -27px 0px no-repeat
