/* страница продукта
#esponi_OTF_CFODebug
  display: none !important

.product-info
  overflow: auto
  margin-bottom: 20px
  > .left
    float: left
    margin-right: 15px
    + .right
      margin-left: 312px
  .share
    margin-bottom: 10px
  h1
    +font-family-2(bold)
    color: #333333
    font-size: 20px
    line-height: 24px
    margin: 0px
    margin-bottom: 25px
  .image
    position: relative
    padding: 10px
    border: 1px solid #e3e3e3