/* страница акций
.page-actions
  h1.title-style
    margin-bottom: 0px
  .actions-list
    margin-bottom: 30px
    .item
      display: table
      width: 100%
      padding: 15px 0px
      border-bottom: 1px solid #e3e3e3
    .cell
      display: table-cell
      vertical-align: middle
      &.box-image
        vertical-align: top
        width: 230px
      &.info
        padding-left: 20px
    .name
      margin: 0px
      padding: 0px
      line-height: 14px
      margin-bottom: 5px
      a
        +font-family-2(bold)
        font-size: 16px
        line-height: 20px
        color: #010101
        text-decoration: none
        &:hover
          text-decoration: underline
    .date
      +font-family-2
      color: #444444
      font-size: 12px
      line-height: 12px
      text-transform: lowercase
    .description
      font-family: Verdana
      color: #444444
      margin: 30px 0px
      font-size: 14px
      line-height: 18px
    .more a
      padding: 7px 30px


/* Actions Info
#actionsInfo
  margin-bottom: 0px
  overflow: auto
  vertical-align: top

.actionsModule .actionsDate
  font-weight: bold

#actionsInfo
  .actionsDate
    font-weight: bold
  .actionsDescription, .actionsDate
    margin-top: 10px

.actionsModule
  padding-bottom: 10px
  border-bottom: 1px solid #EEEEEE
  + .actionsModule
    margin-top: 10px
  div + div
    margin-top: 6px

.actionsReadAll
  margin-top: 10px

.actionsRelHeader
  .left
    float: left
    font-family: Arial, Helvetica, sans-serif
    font-size: 14px
    font-weight: bold
    line-height: 14px
    color: #333
  .right
    float: right
  border-bottom: 1px solid #DBDEE1
  padding-bottom: 10px
  overflow: auto

.actionsRelProducts
  padding: 10px 0px
  margin-bottom: 20px
  > div
    text-align: center
    background: transparent
    margin: 0px 15px 15px 0px
    padding: 0px