/* страница продукта
.product-info
  overflow: auto
  margin-bottom: 20px
  > .left
    float: left
    margin-right: 15px
    + .right
      margin-left: 312px
  .image
    position: relative
    padding: 10px
    border: 1px solid #e3e3e3