*
  +box-sizing(border-box)

html
  height: 100%

body
  height: 100%
  //+font-family-1
  font-size: 14px

@font-face
  font-family: "OpenSans-extrabold-wf"
  src: url("/fonts/opensans-extrabold.ttf")

@font-face
  font-family: "OpenSans-bold-wf"
  src: url("/fonts/opensans-bold.ttf")

@font-face
  font-family: "OpenSans-regular-wf"
  src: url("/fonts/opensans-regular.ttf")
//
//@font-face
//  font-family: "MyriadPro-regular-wf"
//  src: url("/fonts/myriadpro-regular.eot")
//  src: url("/fonts/myriadpro-regular.eot?#iefix")format("embedded-opentype"), url("/fonts/myriadpro-regular.woff") format("woff"), url("/fonts/myriadpro-regular.ttf") format("truetype")
//  font-style: normal
//  font-weight: normal

#wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -170px
  width: 100%
  background: #fff
  //min-width: 940px;

#footer
  height: 170px

#push
  height: 170px

.cf
  +pie-clearfix

.ib
  +inline-block(top)

img
  vertical-align: top
  border: none

input, textarea, button, select, a
  outline: none
  &:focus
    outline: none

.inner-pages
  padding: 30px 0px

.site-content
  width: 980px
  min-width: 980px
  margin: auto
  +pie-clearfix

.slider-hidden
  visibility: hidden

#column-left
  float: left
  width: 230px

#column-right
  float: right
  width: 230px

#column-left +
  #column-right + #content, #content
    margin-left: 250px

#column-right + #content
  margin-right: 250px

#column-left +
  #column-right + #content.catalog-content, #content.catalog-content
    margin-right: 0px
    margin-left: 0px
    float: right
    width: 730px

#column-right + #content.catalog-content
  margin-right: 0px
  margin-left: 0px
  float: left
  width: 730px
